*{
    margin: 0px;
    padding: 0px;
}
#main,canvas{
    border: 2px solid black;
    margin-top: 10px;
}

#canvas{
    width: 60%;
    margin: auto;
    height: 800px;
    border: 2px solid black;
}

#form-body{
    width: 300px;
    height: 400px;
    border: 1px solid grey;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    border-radius: 5px;
}

.headings{
    margin: 4px;
    padding: 2px;
    margin-top: 30px;
}